/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}


.site{
  /* background-color: orange; */
}

.question{
  
/* display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px; */

display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  
  /* background-color: blue; */
  /* background-color: orange; */
  /* handles the safari addressbar issue */
  height: 100svh;
  
  /* max-width: 80%; */
  margin: 0 auto;
  
  /* min-height: 100svh; */
}
/* 
.question:nth-child(1) {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.question:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
} 
*/
.question:nth-child(2) {
  
}

.subjectblock{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  
  margin-top: auto;
  /* justify-content: center; */
    /* align-items: center; */
    
    /* justify-items: center; */
}
.subjectblock img{
  /* width: 100%; */
  max-width: 100%;
}


.quizblock{
  /* display: flex; */
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-rows: auto;
  
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100px;
  
  margin-top: auto;
  justify-content: center;
    /* align-items: center; */
    
    /* justify-items: center; */
    
}
.quizblock button{
  /* background-color: green; */
  border: solid 2px silver;
  /* padding: 4em; */
  /* min-height: 100px; */
  margin: 0.4em;
  /* max-width: 20vh; */
  /* max-width: 200px; */
}
.quizblock button:active{
  background-color: #ffff00;
}

.button-item{
  /* display: block; */
  display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* justify-content: center; */
    align-items: center;
    /* align-content: normal; */
}

.button-item button {
  margin: 0.4em;
  padding: 40px;
}


.answers-view li{
  margin: 20px 10px;
  padding: 10px;
}
